---
import { getCollection, type CollectionEntry } from 'astro:content';
import H1 from '../../components/H1.astro';
import Main from '../../components/Main.astro';
import Share from '../../components/Share.astro';
import TableOfContents from '../../components/TableOfContents.astro';
import Layout from '../../layouts/Layout.astro';
import CategoryList from '../../components/CategoryList.astro';
import Pagination from '../../components/Pagination.astro';
import PostList from '../../components/PostList.astro';

export const getStaticPaths = async () => {
  const posts = await getCollection('posts');
  const categories = Array.from(
    new Set(posts.flatMap((post) => post.data.categories))
  );

  console.log({ categories });

  const paths = categories.map((category) => {
    const postsByCategory = posts.filter((post) =>
      post.data.categories.includes(category)
    );
    return {
      params: {
        slug: category,
      },
      props: {
        category,
        posts: postsByCategory,
      },
    };
  });

  return paths;
};

type Props = {
  category: string;
  posts: CollectionEntry<'posts'>[];
};

const { category, posts } = Astro.props;
---

<Layout title="Blog - Rhythm Nation">
  <Main>
    <a href="/blog" class="text-zinc-500 text-2xl mb-16 underline block"
      >← Back to all blogs</a
    >
    <H1>Rhythm Nation Blog</H1>
    <p class="text-zinc-900 text-2xl mb-24 max-sm:mb-14">
      Join the community and learn stuff.
    </p>

    <CategoryList title="Posts Tagged" categories={[category]} />

    <PostList posts={posts} />
  </Main>
</Layout>
