---
import { getCollection, getEntryBySlug } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Main from '../../components/Main.astro';
import H1 from '../../components/H1.astro';
import Post from '../../components/Post.astro';
import PostList from '../../components/PostList.astro';
import { getThumbnail } from '../../cloudinary';
const { slug } = Astro.params;

const author = await getEntryBySlug('authors', slug as string);

if (!author) {
  return Astro.redirect('/404');
}

const allPosts = await getCollection('posts');
const posts = allPosts.filter((post) => post.data.author === author.slug);
---

<Layout title={author.data.name}>
  <Main>
    <a href="/blog" class="text-zinc-500 text-2xl mb-16 underline block"
      >← Back to all blogs</a
    >
    <H1>{`Posts by ${author.data.name}`}</H1>
    <div class="mb-60">
      <PostList posts={posts} />
    </div>
  </Main>
</Layout>
